@import '../../helper/variable.scss';

.paginationWrap {
	// margin-top: 40px;
	padding: 200px 0 150px;
	// background: $bg-gray-color;
	background-image: url(../../assets/img/banner.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
}
.paginationBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.pageLevel {
	font-size: 20px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: $heading;

	i {
		margin: 0 10px;
		&:hover {
			color: $primary-color;
		}
	}

	a {
		&:hover {
			color: $primary-color;
		}
	}
}
.pageTitle {
	margin-right: 20px;
	h2 {
		color: $primary-color;
		font-size: 60px;
		margin: 0;
	}
}
@include maxWidth(768px) {
	.paginationWrap {
		padding: 150px 0 100px;
	}
	.pageTitle {
		h2 {
			font-size: 40px;
		}
	}

	.pageLevel {
		font-size: 20px;
	}
}
@include maxWidth(576px) {
	.pageLevel {
		display: none;
	}
}
